<a href="https://colab.research.google.com/github/varaprasad431/Learning/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variable

when there is container which is used for storing data values is called variable
also called identifier.

varaiables are Case-sensitive and it will created when you want to assign a value to it.

type() return the type of variable . assigna multiple variables in single command

In [ ]:
var="this is example for assigning a value"
print(type(var))
x=15
print(x)
print(type(x))

<class 'str'>
15
<class 'int'>

**Data** **Types**

Variable can store data in diffrent types they are
1.string
2.int -3.float-4.complex
5.Boolean
6.list
7.tuple
8.set
9.dictonary

In [ ]:
#int :- storing integer values is called integer
x=2
y=9
print(type(x&y))

<class 'int'>

In [ ]:
#float :- storing decimal values is called float
x=9.90
z=4.66
print(type(x))

<class 'float'>

In [ ]:
#complex :- it containes two values the first value containes real part of complex number and second number containes imaginary part of complex number
x=2+5j
print(type(x))

<class 'complex'>

In [ ]:
#string :- storing sequence of charachter or elements with in the single ' or double '' or multi ''' quotes then it is called string.
a="prasad"
b='vara'
c="""katteboina"""
d=b+a+c
print(d)
print(type(d))

varaprasadkatteboina
<class 'str'>

In [ ]:
#slicing :- retuen range of character by slicing using index values
a="prasad katteboina Devops enginaeer"
print(len(a))
print(type(a))
print(a[6:])
print(a.upper())
print(a.lower())
print(a.strip())
print(a.split())

34
<class 'str'>
 katteboina Devops enginaeer
PRASAD KATTEBOINA DEVOPS ENGINAEER
prasad katteboina devops enginaeer
prasad katteboina Devops enginaeer
['prasad', 'katteboina', 'Devops', 'enginaeer']

In [ ]:
#list :- storing multiple values in a single variables with diffrent types then it is called lists
#it is in order and changeble(mutable)    Allow duplicates
#it is used [] or list() (list function)
lst=[123,"prasad",5.6]
print(type(lst))
print(lst)

#accesing items and changing values
frusits = ["apple","bammam"]

<class 'list'>
[123, 'prasad', 5.6]